.header-wrapper {
    color: white;
    background-color: #7e3d3c;
    box-shadow: 0px 0px 10px 3px #7e3d3c;
    font-family: 'Courier New';
}
.header-logo {
    background-color: #d3d3d3;
    box-shadow: 0px 0px 10px 5px #d3d3d3;
    background-image: url('/assets/images/cms-large.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 158px;
    height: 50px;
    margin-left: 10px;
}

/* Header - Menu Icon */
#menu a.menu {
    float: left;
    padding: 16px;
    position: relative;
    width: 53px;
    height: 52px;
}
#menu a.menu span {
    display: block;
    position: absolute;
    background: #cdcdcd;
    border-radius: 3px;
    top: 25px;
    left: 13px;
    right: 13px;
    height: 2px;
    transition: 1s;
}
#menu a.menu span:before {
    top: -8px;
    content: "";
    position: absolute;
    background: #cdcdcd;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
}
#menu a.menu span:after {
    bottom: -8px;
    content: "";
    position: absolute;
    background: #cdcdcd;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
}
#menu a.menu-active span:before {
    top: 0;
    transform: rotate(45deg);
}
#menu a.menu-active span {
    background: 0;
}
#menu a.menu-active span:after {
    top: 0;
    transform: rotate(-45deg);
}

/* Header - Logo */
.nav-logo {
    background-image: url('/assets/images/cms-large.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 155px;
    height: 50px;
    margin-left: 20%;
    margin-top: 1px;
}

/* Header - User image and name */
.logged-user {
    font-size: 18px;
    color: burlywood;
    padding-right: 2px;
    position: absolute;
    right: 0;
}
.logged-user .username {
    text-transform: capitalize;
}
.logged-user img {
    border-radius: 50%;
    background-color: #d3d3d3;
}

/* Menu - Expanded view */
.sidenav {
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 51px; /* Stay at the top */
    left: 0;
    bottom: 30px;
    background-color: #d3d3d3; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    height: 100%;
}
.sidenav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.sidenav li a {
    display: block;
    padding: 20px; 
    border-left: 5px solid; 
    position: relative; 
    z-index: 2;
    text-decoration: none;
    font-size: 20px;
    color: #7e3d3c;
    transition: 1s;
    width: 100%;
}
.sidenav li a:hover, .sidenav li a.active {
    background-color: #7e3d3c;
    width: 100%;
    color: #ffffff;
}
.sidenav li a:after { 
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    width: 0px;
    position: absolute;
    transition: all 0.3s ease 0s;
    z-index: -1;
}  
.sidenav li a:hover:after{ 
    width: 100%;
    background: #7e3d3c;
}
