<header>
    <div class="header-wrapper">
        <div class="d-flex">
            <div *ngIf="user?.username" class="nav-open" (click)="openNav()">
                <span></span><span></span><span></span>
            </div>
            <div class="header-logo"></div>
            <div *ngIf="user?.username" class="logged-user">
                <span>
                    <img src="/assets/images/avatar.png" alt="Avatar" width="50">
                </span>
                <span class="username">
                    {{user.username}}
                </span>
            </div>
        </div>
    </div>
    <div *ngIf="user?.username" class="nav-wrapper">
        <nav id="mySidenav" class="sidenav">
            <div>
                <div class="nav-logo"></div>
                <span class="closebtn" (click)="closeNav()">
                    x
                </span>
            </div>
            <a class="nav-link" [routerLink]="">Company</a>
            <a class="nav-link" [routerLink]="">Employee</a>
            <a class="nav-link" [routerLink]="" (click)="onLogout()">Logout</a>
        </nav>
    </div>
</header>
  