<header>
    <div class="header-wrapper">
        <div class="d-flex">
            <div id="menu" *ngIf="user?.username" (click)="toggleNav()">
                <a href="javascript:void(0);" class="menu">
                    <span></span>
                </a>
            </div>
            <div class="header-logo"></div>
            <div *ngIf="user?.username" class="logged-user">
                <span>
                    <img src="/assets/images/avatar.png" alt="Avatar" width="50">
                </span>
                <span class="username">
                    {{user.username}}
                </span>
            </div>
        </div>
    </div>
    <div *ngIf="user?.username">
        <nav id="sidenav" class="sidenav">
            <ul>
                <li><a routerLinkActive="active" routerLink="home/company">Company</a></li>
                <li><a routerLinkActive="active" routerLink="home/employee">Employee</a></li>
                <li><a routerLink="login" (click)="onLogout()">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
  