<section class="container">
    <div>
        <form #loginForm="ngForm" (ngSubmit)="onLogin(user)" class="form-horizontal">
            <div class="form-group">
                <label class="control-label" for="uname">Username:</label>
                <input id="uname" class="form-control" 
                        type="text" [(ngModel)]="user.name" name="uname"
                        required />
            </div>
            <div class="form-group">
                <label class="control-label" for="pwd">Password:</label>
                <input id="pwd" class="form-control" type="password" 
                        [(ngModel)]="user.password" name="password"
                        required />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
            </div>
        </form>
    </div>
    <div *ngIf="isInvalidCredentials" [style.color]="'red'">
        Login Failed
    </div>
</section>
